body {
    background-color: rgb(26, 26, 26);
    color: white;
    margin: auto;
    text-align: center;
}

#area_icones_materias{
    display: grid;
    gap: 1em 1em;
}
#icone_materia{
    margin: auto;
    margin-top: 5%;
    width: 75%;
}

#fisica_icone_botao {
    margin: auto;
    width: 12em;
    height: 12em;
    background-color: snow;
    border-radius: 5%;
}
#quimica_icone_botao {
    margin: auto;
    width: 12em;
    height: 12em;
    background-color: snow;
    border-radius: 5%;
}