body {
    background-color: rgb(26, 26, 26);
    color: white;
    margin: auto;
    text-align: center;
}

#area_icones_materias{
    display: grid;
    gap: 1em 1em;
}
#icones_materias{
    margin: auto;
    margin-top: 5%;
    width: 75%;
    margin-bottom: -10%;
}
#textos_materias{
    text-align: center;
    line-height: 10em;
    font: bold 150% Arial;
    color: black;
}
#linha{
    background-color: white;
    width: 90%;
    margin: auto;
    height: 0.25em;
    border-radius: 100%;
}

#fisica_icone_botao {
    cursor: pointer;
    margin: auto;
    width: 12em;
    height: 12em;
    background-color: snow;
    border-radius: 5%;
}
#quimica_icone_botao {
    cursor: pointer;
    margin: auto;
    width: 12em;
    height: 12em;
    background-color: snow;
    border-radius: 5%;
    margin-bottom: 1%;
}